<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <a style="color:red;" href="{{route('users.index')}}">
      <h1>User.Index</h1>
    </a>
  </section>
</body>
</html>
